 <body>

    <!-- header -->
    <sly data-sly-include="partials/header.html"></sly>



    <!-- cms locks -->
    <div class="container-fluid">
      
      <!-- hero banner -->
    	

    </div>

    <sly data-sly-include="partials/body-content.html"></sly>

    <!-- footer -->
    <sly data-sly-include="partials/footer.html"></sly>

    <div class="container-fluid">
      
    </div>
    <sly data-sly-include="partials/footlibs.html"></sly>
  


  </body>



