<!--/* Include the site client libraries (loading only the JS in the footer, CSS was loaded in the header) */-->


<!--/* include granite libs */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
      data-sly-call="${clientLib.all @ categories='granite.csrf.standalone'}"></sly>
<sly data-sly-call="${clientLib.all @ categories='granite.utils'}"></sly>

<!--/* Include Context Hub */-->
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"></sly>

<!--/* Google Maps */-->


<sly data-sly-call="${clientLib.js @ categories='miumiu.all'}"></sly>

<!--/* Include Adobe Dynamic Tag Management libraries for the footer */-->
<sly data-sly-resource="${@ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"></sly>
<script src="https://use.typekit.net/ybs0hnd.js"></script>
<script>
    try {
        Typekit.load({ async: true });
    } catch (e) {}
</script>
<script src="https://apps.mypurecloud.com/webchat/jsapi-v1.js" type="text/javascript"></script>
<script src="${inheritedPageProperties.livechaturi @context='attribute'}" data-sly-test="${inheritedPageProperties.livechaturi}"></script>
<script src="https://pradagroupdyn365storage.blob.core.windows.net/webchat/webchat-test.js" data-sly-test="${!inheritedPageProperties.livechaturi}"></script>
<sly data-sly-call="${clientLib.js @ categories='prada-global.liveChat'}"></sly>


