<sly data-sly-use.preHeaderModel="${'miumiu.core.models.header.PreHeaderModel'}" />

<div class="row o-pre-header is-top is-black" >
	<div class="col-lg-4 o-strip  hidden-md hidden-sm hidden-xs">
		<div class="c-lang--static u-color-label" >
			${preHeaderModel.shippingToText || 'shipping_to_text' @i18n, context='html'}
		</div>
		<div class="c-lang--dynamic u-color-label" data-toggle="modal" data-target="#change-country">
			<span class="c-lang">${preHeaderModel.currentCountry @i18n} </span> / <span class="c-lang">${preHeaderModel.currentLanguage @i18n}</span>
		</div>
	</div>

	<div class="col-lg-4 col-xs-12 o-strip">
		<div class="o-strip__shipping u-uppercase">
			<div class="c-shipping u-color-label" >
				${preHeaderModel.freeShippingText || 'free_shipping_text' @i18n, context='html'}
			</div>
		</div>
	</div>

	<div class="col-lg-4 o-strip hidden-md hidden-sm hidden-xs">
				
		<div class="o-strip__help">
			<div class="dropdown">
				<div class="dropdown-toggle u-color-label" id="may-help" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					${preHeaderModel.helpYouText || 'help_you_text' @i18n, context='html'} 
				</div>
				<div class="dropdown-menu" aria-labelledby="may-help">
					<div class="u-title-popup">
						${'call_this_phone_number' @i18n}
					</div>
					<p class="u-number-telephone">
						${preHeaderModel.mayWeHelpNumber || 'may_we_help_number' @i18n, context='html'}
					</p>
					<div class="u-message">
						${preHeaderModel.mayWeHelpOpeningTime || 'may_we_help_number' @i18n, context='html'}
					</div>
					<div class="u-title-popup">
						${'generic_or' @i18n} <a href="${preHeaderModel.linkToContactUsPage}" class="u-write-message">${'write_a_message' @i18n}</a>
					</div>
				</div>
			</div>
		</div>

		<div class="o-strip__stores">
			<a href="${preHeaderModel.storePath}" class="c-store u-color-label">
				${preHeaderModel.storeText || 'store_text' @i18n, context='html'} 
			</a>
		</div>

	</div>
    
            <sly data-sly-use.modalCountry="modal-country-preheader.html"
                data-sly-call="${modalCountry.modalCountry @ properties=properties}"></sly>