<template data-sly-template.modalCountry>
    <sly data-sly-use.countrySelector="${'miumiu.core.models.header.CountrySelector'}"></sly>
<!--modals -->
	<div id="change-country" class="modal fade" role="dialog">
		<div class="modal-dialog o-modal o-modal-mobile">
			<!--modal desktop-->
		    <div class="modal-content o-modal__content hidden-md hidden-sm hidden-xs">
	  	      <div class="modal-header c-header">
		        <img src="/etc/designs/miumiu/images/svg/close.svg" class="c-close" data-dismiss="modal" />
		        <h4 class="modal-title c-title">Select your country and your language.</h4>
		      </div>	      
		      <div class="modal-body c-body">
		        <div class="o-estore">
		        	<div class="c-title">E-Store</div>
		        	<ul class="c-list">
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Australia</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Austria</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Belgium</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Canada</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">China</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Denmark</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Finland</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">France</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Germany</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Greece</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Ireland</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link" data-state="is-active">Italy</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Japan</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Luxembourgh</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Monaco</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Netherlands</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">New Zealand</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Norway</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Portugal</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Spain</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Sweden</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Switzerland</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">United Kingdom</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">United States</a>
		        		</li>
		        	</ul>
		        </div>
		        <div class="o-explore">
		        	<div class="c-title">Explore our website</div>
		        	<ul class="c-list"> 
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Brazil</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Hong Kong</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Malaysia</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Russian Federation</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Singapore</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">South Korea</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Taiwan</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Thailand</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">United Arab Emirates</a>
		        		</li>
		        		<li class="c-bullet">
		        			<a href="" title="" class="c-link">Rest of the world</a>
		        		</li>
		        	</ul>
		        </div>
		      </div>
				      
				<div class="modal-footer c-footer">
				   	<div class="o-change-lang">
				   		<div class="c-title">Language</div>
				   		<div class="c-choose">
				   			<a href="" title="" class="c-link">Italian</a>
				   			<a href="" title="" class="c-link" data-state="is-active">English</a>
				   		</div>
				   	</div>
					<button type="button" class="btn btn-default c-button" data-dismiss="modal">Confirm</button>
		      </div>
		    </div>




            <!--modal tablet&mobile -->
    	    <div class="modal-content o-content-mobile hidden-lg">
      	      <div class="modal-header c-header">
    	        <img src="images/svg/close.svg" class="c-close" data-dismiss="modal" />
    	        <h4 class="modal-title c-title">Select your country and your language.</h4>
    	      </div>	      
    	      <div class="modal-body c-body">
    	      	<div id="country-accordion" class="o-country">
    	      	  <div class="o-card">
    	      	    <div class="c-header" id="e-store">
    	      	      <a class="c-header--color" data-toggle="collapse" data-target="#e-store-body" aria-expanded="false" aria-controls="e-store-body">
    	      	        E-Store
    	      	      </a>
    	      	    </div>
    	      	    <div id="e-store-body" class="collapse" aria-labelledby="e-store" data-parent="country-accordion">
    	      	      <div class="c-body">
    	      	      	<ul class="c-list">
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Australia</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Austria</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Belgium</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Canada</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">China</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Denmark</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Finland</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">France</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Germany</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Greece</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Ireland</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link" data-state="is-active">Italy</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Japan</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Luxembourgh</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Monaco</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Netherlands</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">New Zealand</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Norway</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Portugal</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Spain</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Sweden</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Switzerland</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">United Kingdom</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">United States</a>
    	      	      		</li>
    	      	      	</ul>
    	      	      </div>
    	      	    </div>
    	      	  </div>

    	      	  <div class="o-card">
    	      	    <div class="c-header" id="explore">
    	      	      <a class="c-header--color" data-toggle="collapse" data-target="#explore-body" aria-expanded="false" aria-controls="explore-body">
    	      	        Explore our website
    	      	      </a>
    	      	    </div>
    	      	    <div id="explore-body" class="collapse" aria-labelledby="explore" data-parent="country-accordion">
    	      	      <div class="c-body">
    	      	      	<ul class="c-list"> 
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Brazil</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Hong Kong</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Malaysia</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Russian Federation</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Singapore</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">South Korea</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Taiwan</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Thailand</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">United Arab Emirates</a>
    	      	      		</li>
    	      	      		<li class="c-bullet">
    	      	      			<a href="" title="" class="c-link">Rest of the world</a>
    	      	      		</li>
    	      	      	</ul>
    	      	      </div>
    	      	    </div>
    	      	  </div>
    	      	</div>
    	      </div>
    			      
    			<div class="modal-footer c-footer">
    			   	<div class="o-change-lang">
    			   		<div class="c-title">Language</div>
    			   		<div class="c-choose">
    			   			<a href="" title="" class="c-link">Italian</a>
    			   			<a href="" title="" class="c-link" data-state="is-active">English</a>
    			   		</div>
    			   	</div>
    				<button type="button" class="btn btn-default c-button" data-dismiss="modal">Confirm</button>
    	      </div>
    	    </div>
		  </div>
		</div>
	</div>	

	<!--modal mobile&tablet --> 
	<div id="change-country-mobile" class="modal fase" role="dialog">
	    <div class="modal-content o-content-mobile hidden-lg">
		      <div class="modal-header c-header">
	        <img src="images/svg/close.svg" class="c-close" data-dismiss="modal" />
	        <h4 class="modal-title c-title">Select your country and your language.</h4>
	      </div>	      
	      <div class="modal-body c-body">
	      	<div id="country-accordion" class="o-country">
	      	  <div class="o-card">
	      	    <div class="c-header" id="e-store">
	      	      <a class="c-header--color" data-toggle="collapse" data-target="#e-store-body" aria-expanded="false" aria-controls="e-store-body">
	      	        E-Store
	      	      </a>
	      	    </div>
	      	    <div id="e-store-body" class="collapse" aria-labelledby="e-store" data-parent="country-accordion">
	      	      <div class="c-body">
	      	      	<ul class="c-list">
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Australia</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Austria</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Belgium</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Canada</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">China</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Denmark</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Finland</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">France</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Germany</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Greece</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Ireland</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link" data-state="is-active">Italy</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Japan</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Luxembourgh</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Monaco</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Netherlands</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">New Zealand</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Norway</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Portugal</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Spain</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Sweden</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Switzerland</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">United Kingdom</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">United States</a>
	      	      		</li>
	      	      	</ul>
	      	      </div>
	      	    </div>
	      	  </div>

	      	  <div class="o-card">
	      	    <div class="c-header" id="explore">
	      	      <a class="c-header--color" data-toggle="collapse" data-target="#explore-body" aria-expanded="false" aria-controls="explore-body">
	      	        Explore our website
	      	      </a>
	      	    </div>
	      	    <div id="explore-body" class="collapse" aria-labelledby="explore" data-parent="country-accordion">
	      	      <div class="c-body">
	      	      	<ul class="c-list"> 
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Brazil</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Hong Kong</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Malaysia</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Russian Federation</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Singapore</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">South Korea</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Taiwan</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Thailand</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">United Arab Emirates</a>
	      	      		</li>
	      	      		<li class="c-bullet">
	      	      			<a href="" title="" class="c-link">Rest of the world</a>
	      	      		</li>
	      	      	</ul>
	      	      </div>
	      	    </div>
	      	  </div>
	      	</div>
	      </div>
			      
			<div class="modal-footer c-footer">
			   	<div class="o-change-lang">
			   		<div class="c-title">Language</div>
			   		<div class="c-choose">
			   			<a href="" title="" class="c-link">Italian</a>
			   			<a href="" title="" class="c-link" data-state="is-active">English</a>
			   		</div>
			   	</div>
				<button type="button" class="btn btn-default c-button" data-dismiss="modal">Confirm</button>
	      </div>
	    </div>
	</div>
</template>