<sly data-sly-use.footerModel="${'miumiu.core.models.footer.FooterModel'}" />

<div data-sly-test="${wcmmode.edit && !footerModel.isConfigured}" class="edit-message">	
	Configure 'FOOTER COMPONENT'       
</div>

<footer data-sly-test="${footerModel.isConfigured}" class="o-footer row">
	<div class="col-xs-12">

		<!--footer logo -->
		<div class="row">
			<div class="col-xs-12 c-logo">
				<img src="${footerModel.imageFooterPath}" alt="${footerModel.imageFooterAlt}" />
			</div>
		</div>

		<!--footer details + newsletter -->
		<div class="row">
			<div class="col-xs-12">
				<div class="o-newsletter">
					<div class="c-title" >
						${footerModel.newsLetterTitle || 'news_letter_title' @i18n, context='html'}
					</div>
					<div class="c-description">
						${footerModel.newsLetterText || 'news_letter_text' @i18n, context='html'}
					</div>
					<input type="email" name="newsletter" placeholder="${footerModel.newsPlaceHolder || 'news_place_holder' @i18n}" class="c-input"/>
					<img class="c-caret" src="images/svg/arrow-go.svg" alt=""/>
					<div class="c-social">
                                                <sly data-sly-repeat="${footerModel.socilaList}">
                                                    <a href="${item.href}" title="${item.title}" class="c-social--link">
                                                            <img src="${item.path}" alt="${item.altImage}" class="c-social--size" />
                                                    </a>
                                                </sly>
					</div>
				</div>	

				
                                    <sly data-sly-repeat="${footerModel.categoryList}">
                                        <ul class="o-details hidden-xs">
					<li class="c-title">
						${item.categoryName} 
					</li>
					<li class="c-separator"></li>
                                        <sly data-sly-repeat.elementsCategory="${item.categoryElements}">
                                            <li class="c-link">
                                                    <a href="${elementsCategory.linkPath}" title="${elementsCategory.linkName}" class="c-link--color">
                                                            ${elementsCategory.linkName}
                                                    </a>
                                            </li>
                                        </sly> 
                                       </ul>	
                                    </sly>
			</div>
		</div>

		<!--footer details tablet and mobile - accordion -->
		<div class="row">
			<div class="col-xs-12 hidden-lg hidden-md hidden-sm">
				<div id="details-accordion" class="o-details">
                                    
                                    <sly data-sly-repeat="${footerModel.categoryList}">
                                        <div class="o-card">
                                          <div class="c-header" id="about-us">
                                            <a class="c-header--color" data-toggle="collapse" data-target="#about-us-body" aria-expanded="false" aria-controls="about-us-body">
                                              ${item.categoryName} 
                                            </a>
                                          </div>
                                          <div id="about-us-body" class="collapse" aria-labelledby="about-us" data-parent="details-accordion">
                                            <div class="c-body">
                                              <ul>
                                                <sly data-sly-repeat.elementsCategory="${item.categoryElements}">
                                                      <li class="c-link">
                                                              <a href="${elementsCategory.linkPath}" title="${elementsCategory.linkName}" class="c-link--color">
                                                                      ${elementsCategory.linkName}
                                                              </a>
                                                      </li>
                                                </sly>    
                                              </ul>
                                            </div>
                                          </div>
                                        </div>
                                      </div>                                      
                                    </sly>
                                    
			</div>
		</div>

		<!--footer copyright-->
		<div class="row">
			<div class="col-xs-12 c-copyright u-uppercase" >
				&#169; ${footerModel.copyrightText} | ${footerModel.pivaText}
			</div>
		</div>
	</div>
</footer>